.row {
    height: 100px;
    background-color: rgb(65, 57, 48);
    width: 100px;
    margin-top: -28px;
    }
a {

        color: white;


    }
   header{
      
       margin-top: 1px;
   }
   body {

    background-color: cadetblue;
   }