
@media  (max-width: 768px) { 
body {background-color:yellow;}
}
@media  (max-width: 978px)  {
   body {
	   
	background-color:blue;   
   }
   
}


@media( max-width:980px) {
body {

background-color:pink;
	
}
}
